<div class="documents-header">
  Select Binder ...
</div>
<div class="documents-content">
  <tree-root [nodes]="documents">
    <!-- <ng-template #treeNodeTemplate let-node let-index="index">
      <h3>{{ node.data.name }}</h3>
    </ng-template> -->

    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper"
             [class.node-content-wrapper-active]="node.isActive"
             [class.node-content-wrapper-focused]="node.isFocused"
             (click)="node.mouseAction('click', $event)"
             (dblclick)="node.mouseAction('dblClick', $event)"
             (contextmenu)="node.mouseAction('contextMenu', $event)"
             (treeDrop)="node.onDrop($event)"
             [treeAllowDrop]="node.allowDrop"
             [treeDrag]="node"
             [treeDragEnabled]="node.allowDrag()">

          <!-- <tree-node-content [node]="node" [index]="index"></tree-node-content> -->
          <h3>{{ node.data.name }}</h3>
          <p>...</p>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>