// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

:host {
  flex-grow: 1;
  padding: 0 20px;

  overflow: auto;
}

h1 {
  text-align: center;
}

hr {
  width: 30%;
}