<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span *ngIf="project">{{ project.title }}</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>
  <ng-template tdLoading="project.load">
    <div layout="row" flex layout-fill>
      <div flex-gt-sm="20" layout-fill class="editor-documents-container">
        <muse-editor-documents [documents]="documents"></muse-editor-documents>
      </div>
      <div flex-gt-sm="80" layout-fill class="editor-file-container">
        <muse-editor-file></muse-editor-file>
      </div>
    </div>
  </ng-template>
</td-layout-nav>
